/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-Feb-2016, 10:48:08
    Author     : kimmo
*/
@font-face {
    font-family: Enigmatic_reg;
    src: url(fonts/Enigmatic/Enigma__2.ttf);
}
@font-face {
    font-family: Enigmatic_bold;
    src: url(fonts/Enigmatic/EnigmaB_2.ttf);
}
html {
    background-color: #c2c2c2;
    background: url("images/maxresdefault.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: sans-serif;
}
body {
    
}
::selection {
    background: #c2c2c2;
}
::-moz-selection {
    background: #c2c2c2;
}
.header-class h3 {
    font-family: Enigmatic_reg;
    margin: 2em;
}
.wrapper-class {
    background-color: #fff;
    border: 1px solid #c2c2c2;
    border-radius: 25px;
    margin: auto;
    width: 40%;
    min-height: 25em;
    padding: 3em;
    text-align: center;
}
.content-class {
    background-color: #fff;
    padding: 2em;
}
#displayChoiceDiv-id button {
    background-color: transparent;
    border: transparent;
}
#displayChoiceDiv-id button:active {
    outline: none;
}
#displayChoiceDiv-id button:focus {
    outline: none;
}
